:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #222;
    --primary-color: #ff385c;
    --height-nav: 80px;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Open Sans', sans-serif;
}

#app {
    
}
/* Begin Header */
#header {
    /* height: 606px; */
    /* background-image: url(./assets/img/header.webp);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    position: relative; */
    /* background-color: #000; */
    padding-top: var(--height-nav);
}
.header-top__wrapper {
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.header-top {
    height: var(--height-nav);
    display: flex;
    align-items: center;
}
.header-top__logo {
    height: 100%;
    margin-right: 25px;
}
.header-top__logo-link:hover {
    color: var(--white-color);
}
.header-top__logo-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--white-color);
}
.header-top__nav {
    flex: 1;
}
.header-top__nav-list {
    height: 100%;
    display: flex;
    align-items: center;
}
.header-top__nav-item {
    padding: 10px 0;
    border-radius: 5px;
    position: relative;
}
.header-top__nav-item:hover .header-top__subnav-list,
.header-top__nav-link:hover .header-top__subnav-list {
    display: block;
}
.header-top__nav-link {
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 700;
    padding: 10px 12px;
    text-decoration: none;
    border-radius: 5px;
}
.header-top__nav-item:hover .header-top__nav-link {
    color: var(--black-color);
    background-color: #ccc;
}
.header-top__nav-link:hover {
    color: var(--white-color);
}
.header-top__subnav-list{
    display: none;
    width: 200%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border-radius: 5px;
}
.header-top__subnav-item:hover {
    background-color: #ccc;
    border-radius: 5px;
}
.header-top__subnav2-item:hover .header-top__subnav-link,
.header-top__subnav-item:hover .header-top__subnav-link {
    color: #000;
}
.header-top__subnav-link {
    display: block;
    color: #000;
    font-size: 1.4rem;
    text-decoration: none;
    padding: 16px 20px 16px 12px;
}
.header-top__subnav2 {
    display: flex;
    width: 200%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border-radius: 5px;
}
.header-top__subnav2-item {
    width: 25%;
}
.header-top__subnav2-link {
    display: block;
    color: #000;
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    padding: 16px 0 16px 12px;
}


.header-top__login {
    display: flex;
    align-items: center;
}
.header-top__login-link,
.header-top__login-button {
    display: block;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    padding: 12px;
    border-radius: 20px;
    text-decoration: none;
}
.header-top__login-link:hover,
.header-top__login-button:hover {
    color: var(--white-color);
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
.header-top__login-button {
    font-size: 1.6rem;
    padding: 10px 12px;
}
.header-top__login-admin {
    color: #777;
    background-color: var(--white-color);
    font-size: 2.8rem;
    padding: 5px 5px 5px 15px;
    margin-left: 10px;
    border: 1px solid #ddd;
    border-radius: 21px;
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}
.header-top__login-admin i:first-child {
    color: var(--black-color);
    font-size: 1.4rem;
    margin-right: 10px;
}
/* 
.slider {
    max-width: 1940px;
    position: relative;
    padding-top: var(--height-nav);
    margin: 0 auto 60px;
}
.slider-next {
    right: 25px;
}
.slider-prev {
    left: 25px;
}
.slider-next, .slider-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    background-color: #fff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 2rem;
    z-index: 10;
}
.slider-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    z-index: 10;
}
.slider-dot-item {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #999;
    background-color: #ccc;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.25s linear;
}
.slider-dot-item.active {
    background-color: #fff;
}
.slider-dot-item:hover {
    background-color: #fff;
}
.slider-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}   
.slider-main {
    height: 100%;
    position: relative;
    display: flex;
    transition: transform 0.4s linear;
}
.slider-item {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
    user-select: none;
}
.slider-link {
    display: block;
    width: 100%;
    height: 100%;
}
.slider-img {
    object-fit: cover;
    border-radius: 8px;
} */
.header-slider__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #23e3c9;
}
.header-slider {
    width: 100%;
    height: 600px;
    /* border-radius: 10px; */
    overflow: hidden;
    position: relative;
}
.header-slides {
    width: 500%;
    height: 600px;
    display: flex;
}
.header-slides input {
    display: none;
}
.header-slide {
    width: 20%;
    transition: 2s;
}
.header-slide img {
    width: 100%;
    height: 600px;
}
.navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: 540px;
    display: flex;
    justify-content: center;
}
.manual-btn {
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transform: 2s;
}
.manual-btn:not(:last-child) {
    margin-right: 40px;
}
.manual-btn:hover {
    background-color: #40d3dc;
}
#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}
#radio4:checked ~ .first {
    margin-left: -60%;
}
.navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 540px;
}
.navigation-auto div {
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    transform: 2s;
} 
.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #40d3dc;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #40d3dc;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #40d3dc;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #40d3dc;
}

/* End Header */

/* Begin Content */

#content {
    background-color: var(--white-color);
}
.content-section {
    padding-top: 60px;
}
.section_heading h2 {
    color: #000;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 4rem;
    margin-bottom: 15px;
    text-align: center;
}
.section_heading p {
    color: #333;
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
}
.section1-list {
    display: flex;
    margin-left: -20px;
}
.section1-item {
    width: calc(25% - 20px);
    height: 360px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    margin-left: 20px;
    position: relative;
}
.section1-item::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    left: 0;
    opacity: 0.4;
    background: #000;
    border-radius: 6px;
}
.section1-info {
    position: absolute;
    left: 0;
    bottom: 0;
}
.section1-item:hover {
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
}
.section1-item__title {
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    margin: 0 15px 15px;
}
.section1-item__desc {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0 15px 15px;
}
.section1-item__desc span {
    text-decoration: underline;
}
.tourvn-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 15px 15px;
}
.tourvn-item,
.tourtg-item {
    border-radius: 4px;
    overflow: hidden;
}
.tourvn-item:hover,
.tourtg-item:hover {
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
}
.tour-item__link {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.tour-item__img {
    width: 100%;
    height: 100%;
}
.tour-item__name {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 15px;
}
.tour-item__title {
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
    line-height: 3rem;
    margin-bottom: 10px;
}
.tour-item__desc {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 10px;
}
.tourvn-item:first-child {
    grid-column: 1/3;
    grid-row: 1/2;
}
.tourvn-item:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/3;
}
.tourvn-item:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
}
.tourvn-item:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
}
.tourvn-item:nth-child(5) {
    grid-column: 1/2;
    grid-row: 3/5;
}
.tourvn-item:nth-child(6) {
    grid-column: 2/4;
    grid-row: 3/4;
}
.tourvn-item:nth-child(7) {
    grid-column: 2/3;
    grid-row: 4/5;
}
.tourvn-item:last-child {
    grid-column: 3/4;
    grid-row: 4/5;
}
.tourtg-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 15px 15px;
}
.tourtg-item:first-child {
    grid-column: 1/3;
    grid-row: 1/2;
}
.tourtg-item:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1/2;
}
.tourtg-item:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
}
.tourtg-item:nth-child(4) {
    grid-column: 2/3;
    grid-row: 2/3;
}
.tourtg-item:last-child {
    grid-column: 3/4;
    grid-row: 2/3;
}

.section4 {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 2fr;
    grid-template-rows: 344px 344px;
    grid-gap: 10px;
    grid-template-areas: 
        "h1 h2 h3 h4"
        "h1 h5 h6 h7";
}
.section4-item {
    border-radius: 5px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    position: relative;
}
.section4-item::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    left: 0;
    -webkit-transition: opacity 0.5s ease 0s;
    transition: opacity 0.5s ease 0s;
    opacity: 0.5;
    background: #000;
}
/* .section4-item:hover .section4-item::before {
    background: #32aad6;
} */
.section4-item:first-child::before {
    background-color: transparent;
}
.section4-item:hover .section4-info {
    top: calc(50% - 125px);
}
.section4-item:hover .section4-desc,
.section4-item:hover .section4-detail {
    display: block;
    opacity: 1;
}
.section4-info {
    position: absolute;
    top: calc(50% - 70px);
    text-align: center;
    width: 100%;
    /* -webkit-transition: top 0.5s ease 0s; */
    transition: top 0.5s ease 0s;
    z-index: 1;
}
.section4-title {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 6px;
}
.section4-desc {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 12px;
    -webkit-transition: opacity 0.5s ease 0s;
    transition: opacity 0.5s ease 0s;
    display: none;
    opacity: 0;
}
.section4-detail {
    -webkit-transition: opacity 0.5s ease 0s;
    transition: opacity 0.5s ease 0s;
    display: none;
    opacity: 0;
}
.section4-link {
    display: block;
    color: #fff;
    border: 1px solid #fff;
    padding: 8px 12px;
    display: inline-block;
    border-radius: 50px;
    margin-top: 15px;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
.section4-link:hover {
    color: #fff;
}
.section4-item:first-child {
    grid-area: h1;
}
.section4-item:nth-child(2) {
    grid-area: h2;
}
.section4-item:nth-child(3) {
    grid-area: h3;
}
.section4-item:nth-child(4) {
    grid-area: h4;
}
.section4-item:nth-child(5) {
    grid-area: h5;
}
.section4-item:nth-child(6) {
    grid-area: h6;
}
.section4-item:last-child {
    grid-area: h7;
}
.section5 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 184px 184px;
    grid-gap: 20px 32px;
    grid-template-areas: 
        "h1 h2 h3"
        "h1 h4 h5";
}
.section5-item {
    border-radius: 5px;
    overflow: hidden;
}
.section5-item:hover .section5-link {
    opacity: 0.6;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    overflow: hidden;
}
.section5-link {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    transition: all 0.6s;
}
.section5-item:first-child {
    grid-area: h1;
}
.section5-item:nth-child(2) {
    grid-area: h2;
}
.section5-item:nth-child(3) {
    grid-area: h3;
}
.section5-item:nth-child(4) {
    grid-area: h4;
}
.section5-item:last-child {
    grid-area: h5;
}
.section6 {
    width: 100%;
    padding-top: 280px;
    background-image: url(./assets/img/section6.png);
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    position: relative;
}
.section6::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    left: 0;
    opacity: 0.6;
    background: #000;
}
.section6-list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.section6-item {
    overflow: hidden;
    width: calc(33.33% - 30px);
    padding-bottom: 50px;
    padding-left: 65px;
    display: flex;
    justify-content: left;
    position: relative;
}
.section6-number {
    color: #fff;
    background-color: #32a9d4;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 16px 19px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}
.section6-info {
    flex: 1;
}
.section6-title {
    color: #32a9d4;
    font-size: 1.6rem;
    font-weight: 700;
    padding-bottom: 15px;
    border-bottom: 1px dashed #fff;
}
.section6-desc {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    padding-top: 15px;
}
/* End Content */
/* Begin Footer */

#footer {
    background-color: #f7f7f7;
}
.footer__nav-list {
    display: flex;
    justify-content: space-between;
    padding: 48px 0;
    border-bottom: 1px solid #ddd;
}
.footer__nav-item {
    flex: 1;
}
.footer__nav-item span {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
}
.footer__subnav-list {

}
.footer__subnav-item {
    margin-top: 18px;
}
.footer__subnav-link {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    text-decoration: none;
}
.footer__subnav-link:hover {
    color: var(--text-color);
    text-decoration: underline;
}
.footer__bottom {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
}
.footer__bottom-left {

}
.footer__bottom-left span {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    margin-right: 20px;
}
.footer__bottom-left--link {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    text-decoration: none;
    margin-right: 20px;
}
.footer__bottom-left--link:hover {
    text-decoration: underline;
    color: var(--text-color);
}
.footer__bottom-right {
    display: flex;
    justify-content: right;
}
.footer__bottom-item {
    margin-left: 25px;
}
.footer__bottom-item span {
    margin-left: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8rem;
    text-decoration: underline;
}
.footer__bottom-item i {
    font-size: 1.4rem;
    font-weight: 600;
}
.footer__bottom-social {
    margin-left: 35px;
}
.footer__bottom-social i {
    margin-left: 25px;
    font-size: 1.8rem;
    font-weight: 600;
}
/* End Footer */
